{% extends 'base.html' %}
{% import "macros/macros.html" as macro %}

{% block title %}
    sessions
{% endblock %}

{% block body %}
    <h2>SESSIONS</h2>
    <div id="datadisplay">
{#        {% for sessie in sessions %}#}
{#            {{ macro.build_session(sessie[0],sessie[1], sessie[2],sessie[3],sessie[4],sessie[5],sessie[6]) }}#}
{#        {% endfor %}#}

        {% for sessie in laatste4 %}
                    {{ macro.build_laatste4(sessie[0],sessie[1], sessie[2],sessie[3],sessie[4],sessie[5],sessie[6],time) }}
        {% endfor %}

    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Start</th>
            <th>End</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Max speed</th>
            <th>Average speed</th>
            <th>ID_rider</th>
        </tr>
        <tbody>
        {% for sessie in sessions %}

            {{ macro.build_row(sessie[0],sessie[1], sessie[2],sessie[3],sessie[4],sessie[5],sessie[6],time) }}
        {% endfor %}
        </tbody>
</table>
{% endblock %}